@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.counter{
  &__container{
    width: $width-container;
    margin: 0 auto;
    height: 135px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    max-width: 1078px;
    padding-top: 30px;
  }
  &__item{
    font-family: $font-family;
    text-align: center;
  }
  &__item-quantity{
    font:  bold 30px  $font-family;
  }
  &__item-text{
    @include text;
  }
}

