section.counter
        .counter__container
            ul.counter__list
                -
                    listConter = [
                        {div:'23,567', span:'Recipes Available'},
                        {div:'431,729', span:'Active Users'},
                        {div:'892,173', span:'Positive Reviews'},
                        {div:'56,581', span:'Photos & Videos'},
                        {div:'3,182', span:'Spices and Herbs'},
                    ];
                each element in listConter
                    li.counter__item#counter
                        .counter__item-quantity(data-counter-max=element.div)
                        .counter__item-text=element.span





