<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fudi
        link(rel='stylesheet', href='css/style.css')
        
    body

        include ../components/header/header.pug

        main.wrapper

            include ../components/banner/banner.pug

            include ../components/list-information/list-information.pug

            include ../components/app-store/app-store

            include ../components/footer/footer.pug
        
        script(src='./js/index.js')



