header.header
    .header__inner
        a.header__img-logo(href='./index.html')
            img.header__img-logo(src='./img/logo.png')
        .header__nav-box
            .header__log-sign LOG IN
            .header__log-sign  SIGN UP
             nav.header__navigation
            include menu



