header.header#header__scroll
    .header__inner#header__inner
        a.header__img-logo(href='./index.html')
            img.header__img-logo(src='img/logo.png')
        .header__nav-wrapper
            .header__nav-box
                .header__log-sign#log-in LOG IN
                .header__log-sign#log-sign  SIGN UP
            include menu






