@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.header {
  &__menu {
    background-color: antiquewhite;
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 100%;
    @include backgroundColorMenu
  }


  &__list-menu {
    font-family: $font-family;
    padding: 15px;

    &:hover {
      @include backgroundColorMenu
    }
  }

  &__hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 125, 215, 0);
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__hamburger-title {
    @include hamburger;
    transform: translate(-50%, -50%);
    transition: all .5s;


    &:nth-of-type(2) {
      top: calc(50% + 5px);
    }

    &:nth-of-type(3) {
      top: calc(50% - 5px);
    }
  }

  &_active-hamburger &__hamburger-title {
    &:nth-of-type(1) {
      opacity: 0;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}