@import "src/scss/global-style/media";

.header {
  position: fixed;
  width: 100%;
  z-index: 999;

  &__inner {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
  }

  &__inner-scroll {
    padding: 3px 20px;
  }

  &__img-logo {
    max-width: 110px;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
  }

  &__nav-box {
    display: flex;
  }

  &__log-sign {
    margin-right: 30px;
    cursor: pointer;
    font: 12px Lato, bold;
    color: white;

    &:hover {
      color: #130026;
    }
  }
}

