@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.list-information-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  @include breakpoint(tablet-600) {
    padding: 165px 0;
  }

  &__box {
    width: $width-container;
    display: flex;
    height: 270px;
    justify-content: space-evenly;
    @include breakpoint(tablet-600) {
      flex-direction: column;
      width: auto;
    }
  }

  &__list-container {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet-600) {
      padding-top: 5px;
      width: 100%;
    }
  }

  &__icon-border {
    width: 80px;
    height: 80px;
    border: #000000 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 50px;
  }

  &__all-inform {
    padding-left: 15px;
  }

  &__title {
    @include title;
    text-align: center;

    &::after {
      @include underlining;
      margin: 0 auto;
    }
  }


  &__text {
    @include text;
    text-align: center;
  }
}

