@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.list-information-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  &__box {
    width: $width-container;
    display: flex;
    height: 440px;
    justify-content: space-evenly;
  }

  &__list-container {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-border {
    width: 80px;
    height: 80px;
    border: #000000 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 50px;
  }

  &__all-inform {
    padding-left: 15px;
  }

  &__title {
    font: 15px $font ;
    position: relative;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 88px;
      height: 1px;
      background-color: #ee0000;
      margin: 0 auto;
    }
  }


  &__text {
    text-align: center;
    font: 13px lato, normal;
    color: #5c5959;
    line-height: 23px;
  }
}

