footer.footer
            .footer__container
                .footer__text ©2014 Fudi. All Rights Reserved.
                .footer__link-box
                    span.footer__link-title DESIGN BY:
                    a.footer__link(href='WWW.BEKADES.COM')  WWW.BEKADES.COM

