section.restaurants
            .restaurants__title BROWSE BY CUISINES
            .restaurants__arrows
                    img.restaurants__arrows-up#arrow-up(src='img/up.png')
                    img.restaurants__arrows-down#arrow-down(src='img/down.png')
            .restaurants__container#restaurants-list