section.banner
            .banner__wrapper
                .banner__content
                    .banner__title Find your Favorite
                    h1.banner__main-title RECIPES
                    .banner__button-start
                        a.banner__link-button(href='#') GET STARTED
                    .banner__min-title OR SEND US YOUR OWN RECIPES AND
                        a.banner__link-title(href='#')  GET REWARDED!


