@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.banner {
  position: relative;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

  &__wrapper {
    display: flex;
    max-width: $width-container;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &__content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font: 33px "Times New Roman", bold, sans-serif;
    font-style: italic;
    color: #e4d9d8;
    @include breakpoint(tablet-600) {
      font-size: 20px;
    }
  }

  &__main-title {
    font: 87px $font-family, bold;
    margin-bottom: 10px;
    @include breakpoint(tablet-600) {
      font-size: 60px;
    }
  }

  &__button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 50px;
    border: 3px white solid;
    margin-bottom: 40px;
    @include breakpoint(tablet-600) {
      width: 100px;
      height: 30px;
    }
  }

  &__link-button {
    font: 14px $font-family, bold;
  }

  &__min-title {
    font: 12px $font-family, bold;
    letter-spacing: 1px;
    @include breakpoint(sm-min) {
      font-size: 8px;
    }
  }

  &__link-title {
    border-bottom: 1px white solid;
  }
}