@import "src/scss/global-style/media";
@import "src/scss/global-style/variable-style";

.banner {
  position: relative;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

  &__wrapper {
    display: flex;
    max-width: $width-container;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &__content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font: 36px "Times New Roman", bold, sans-serif;
    font-style: italic;
    color: #e4d9d8;
  }

  &__main-title {
    font: 90px $font;
    margin-bottom: 15px;
  }

  &__button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 50px;
    border: 3px white solid;
    margin-bottom: 40px;
  }

  &__link-button {
    font: 18px $font;
  }

  &__min-title {
    font: 12px $font;
    letter-spacing: 1px;
  }
  &__link-title{
    border-bottom: 1px white solid;
  }
}